body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  /* Fundo escuro para realçar o 3D */
}

canvas.webgl {
  display: block;
}